@model List<PruebaBertoni.Models.Album>
@{
    ViewBag.Title = "albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>

<table>
    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>@album.title</td>
                <td>@Html.ActionLink("Visualizar album", "albumdetails", new { id = album.id })</td>
            </tr>
        }
    </tbody>
</table>